body {
    font-family: 'Inter', sans-serif;
}

.header {
    background-color: #000; /* Black background */
    color: #fff; /* White text */
    display: flex; /* Flexbox for layout */
    align-items: center; /* Vertically center content */
    position: fixed; /* Make it stick to the top */
    top: 0; /* Align at the very top */
    width: 100%; /* Stretch across the screen */
    height: 60px; /* Height of the header */
    padding: 0 40px; /* Add padding for spacing */
    z-index: 1000; /* Ensure it stays above other content */
  }
  
  .logo {
    font-size: 24px; /* Adjust text size */
    font-weight: bold; /* Make it bold */
}

.primary-btn {
    background-color: #1fb800;
    color: white;
    font-weight: 600;
    transition: background-color 0.3s;
}

.primary-btn:hover {
    background-color: #198f00;
}

.custom-shadow {
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.or-divider {
    text-align: center;
    color: gray;
    font-size: 0.875rem;
    position: relative;
}

.or-divider::before,
.or-divider::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40%;
    height: 1px;
    background: #ccc;
}

.or-divider::before {
    left: 0;
}

.or-divider::after {
    right: 0;
}

#loadingSpinner {
    display: none;
}

.active-tab {
    background-color: #1fb800;
    color: white;
    font-weight: 600;
}

.hidden {
    display: none;
}
